.input-container {
  position: relative;
  display: inline-block;
}

input {
  min-width: 145px;
  width: fit-content;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  outline: none;
  font-size: var(--font-size-32);
  line-height: var(--line-height-39);
  text-align: left;
  transition: width 0.3s;
}

.placeholder,
input::placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: var(--font-size-16);
  line-height: var(--line-height-19);
  color: var(--gray);
  transition: top 0.3s, font-size 0.3s;
}

.input-container.focused .placeholder,
input:focus + .placeholder {
  top: -2px;
  font-size: 14px;
  line-height: 16px;
}
